<style type="text/css" data-fela-rehydration="507" data-fela-type="RULE">.a {
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
}

.b {
    font-weight: 400
}

.c {
    background-color: rgba(255, 255, 255, 1)
}

.l {
    display: block
}

.m {
    margin: auto
}

.n {
    max-width: 1504px
}

.o {
    display: flex
}

.u {
    justify-content: space-between
}

.ag {
    height: 100%
}

.al {
    padding: 0 24px
}

.am {
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15)
}

.an {
    height: 56px
}

.ao {
    align-items: center
}

.ap {
    position: fixed
}

.aq {
    top: 0
}

.ar {
    right: 0
}

.as {
    left: 0
}

.at {
    z-index: 500
}

.au {
    color: inherit
}

.av {
    fill: inherit
}

.aw {
    font-size: inherit
}

.ax {
    border: inherit
}

.ay {
    font-family: inherit
}

.az {
    letter-spacing: inherit
}

.ba {
    font-weight: inherit
}

.bb {
    padding: 0
}

.bc {
    margin: 0
}

.bg:disabled {
    cursor: default
}

.bh:disabled {
    color: rgba(117, 117, 117, 1)
}

.bi:disabled {
    fill: rgba(117, 117, 117, 1)
}

.bj {
    height: 25px
}

.bk {
    fill: rgba(41, 41, 41, 1)
}

.bl {
    padding-top: 0px
}

.bm {
    text-align: center
}

.bn {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.bo {
    font-size: 14px
}

.bp {
    line-height: 20px
}

.bq {
    color: rgba(242, 242, 242, 1)
}

.br {
    padding: 7px 16px 9px
}

.bs {
    fill: rgba(242, 242, 242, 1)
}

.bt {
    background: rgba(242, 242, 242, 1)
}

.bu {
    border-color: rgba(242, 242, 242, 1)
}

.ca:disabled {
    cursor: inherit !important
}

.cb:disabled {
    opacity: 0.1
}

.cc:disabled:hover {
    background: rgba(25, 25, 25, 1)
}

.cd:disabled:hover {
    border-color: rgba(25, 25, 25, 1)
}

.ce {
    border-radius: 99em
}

.cf {
    width: 100%
}

.cg {
    border-width: 1px
}

.ch {
    border-style: solid
}

.ci {
    box-sizing: border-box
}

.cj {
    display: inline-block
}

.ck {
    text-decoration: none
}

.cl {
    margin-left: 16px
}

.cm {
    display: none
}

.co {
    color: rgba(117, 117, 117, 1)
}

.cp {
    color: rgba(26, 137, 23, 1)
}

.cq {
    fill: rgba(26, 137, 23, 1)
}

.ct:disabled {
    color: rgba(163, 208, 162, 0.5)
}

.cu:disabled {
    fill: rgba(163, 208, 162, 0.5)
}

.da {
    height: 100vh
}

.db {
    flex-direction: column
}

.dc {
    position: sticky
}

.dd {
    z-index: 1
}

.de {
    height: 23px
}

.df {
    padding-bottom: 35px
}

.dg {
    fill: rgba(117, 117, 117, 1)
}

.dh {
    padding-left: 28px
}

.di {
    transition: all 0.2s ease-in-out
}

.dm {
    margin-right: 28px
}

.do {
    font-size: 16px
}

.dp {
    line-height: 24px
}

.dq {
    position: relative
}

.dr {
    margin: 0px 0px 35px 28px
}

.ds {
    width: 24px
}

.dt {
    border: 0
}

.du {
    height: 1px
}

.dv {
    background-color: rgba(230, 230, 230, 1)
}

.dw {
    padding: 0 24px 24px
}

.dx {
    height: 64px
}

.dy path {
    fill: rgba(168, 168, 168, 1)
}

.dz {
    justify-content: center
}

.ea {
    flex: 1
}

.eb {
    border: none
}

.ec {
    background: transparent
}

.ed {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15)
}

.ee {
    z-index: 600
}

.ef {
    bottom: 0
}

.eg {
    justify-content: space-around
}

.eh {
    height: 16px
}

.ei {
    background-color: rgba(237, 237, 237, 1)
}

.eo {
    min-width: 0
}

.ep {
    flex: 1 1 auto
}

.eq {
    padding: 0 32px
}

.er {
    border-left: 1px solid rgba(230, 230, 230, 1)
}

.es {
    min-height: 100vh
}

.et {
    width: 394px
}

.ev {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif
}

.fp {
    margin-left: auto
}

.fq {
    margin-right: auto
}

.fr {
    max-width: 728px
}

.gc {
    align-items: flex-start
}

.gd {
    margin-right: 16px
}

.ge {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05)
}

.gf {
    border-radius: 50%
}

.gg {
    height: 48px
}

.gh {
    width: 48px
}

.gi {
    position: absolute
}

.gj {
    background-color: rgba(242, 242, 242, 1)
}

.gk {
    color: rgba(41, 41, 41, 1)
}

.gl {
    margin-bottom: 4px
}

.gm {
    flex-direction: row
}

.gn {
    padding-left: 12px
}

.gs {
    font-size: 13px
}

.gt {
    color: rgba(255, 255, 255, 1)
}

.gu {
    padding: 0px 8px 1px
}

.gv {
    fill: rgba(255, 255, 255, 1)
}

.gw {
    background: rgba(26, 137, 23, 1)
}

.gx {
    border-color: rgba(26, 137, 23, 1)
}

.ha:disabled {
    opacity: 0.3
}

.hb:disabled:hover {
    background: rgba(26, 137, 23, 1)
}

.hc:disabled:hover {
    border-color: rgba(26, 137, 23, 1)
}

.hd {
    flex-wrap: wrap
}

.he {
    padding: 0 8px
}

.hf {
    padding-left: 6px
}

.hg {
    transform: translateY(-1.25px)
}

.hh {
    font-size: 15px
}

.hl {
    padding-right: 4px
}

.hm {
    flex: 0 0 auto
}

.hn {
    padding: 8px 2px
}

.hp {
    margin: 0 4px 0 28px
}

.hq {
    display: inline-flex
}

.hr {
    padding-top: 24px
}

.hu {
    padding-right: 12px
}

.hv {
    background: rgba(255, 255, 255, 1)
}

.hw {
    border: 1px solid rgba(230, 230, 230, 1)
}

.hx {
    border-radius: 4px
}

.hy {
    box-shadow: 0 1px 4px rgba(230, 230, 230, 1)
}

.hz {
    max-height: 100vh
}

.ia {
    overflow-y: auto
}

.ib {
    top: calc(100vh + 100px)
}

.ic {
    bottom: calc(100vh + 100px)
}

.id {
    width: 10px
}

.ie {
    pointer-events: none
}

.if {
    word-break: break-word
}

.ig {
    word-wrap: break-word
}

.ih:after {
    display: block
}

.ii:after {
    content: ""
}

.ij:after {
    clear: both
}

.ik {
    max-width: 5148px
}

.io {
    clear: both
}

.iq {
    cursor: zoom-in
}

.ir {
    z-index: auto
}

.it {
    max-width: 100%
}

.iu {
    height: auto
}

.iv {
    margin-top: 10px
}

.iy {
    text-decoration: underline
}

.iz {
    line-height: 1.23
}

.ja {
    letter-spacing: 0
}

.jb {
    font-style: normal
}

.jw {
    margin-bottom: -0.27em
}

.jx {
    line-height: 1.58
}

.jy {
    letter-spacing: -0.004em
}

.kt {
    margin-bottom: -0.46em
}

.ku {
    padding: 16px 0 0
}

.kv {
    opacity: 1
}

.kw {
    transition: opacity 300ms
}

.kx {
    bottom: 16px
}

.ky {
    padding: 0 14px 0 16px
}

.kz {
    border-radius: 20px
}

.la {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1)
}

.lb {
    height: 40px
}

.lc {
    margin-right: 5px
}

.lf {
    -webkit-user-select: none
}

.lg {
    cursor: progress
}

.lj {
    opacity: 0.25
}

.lk {
    outline: 0
}

.ll {
    user-select: none
}

.lm>svg {
    pointer-events: none
}

.lv {
    border-right: 1px solid rgba(230, 230, 230, 1)
}

.lw {
    margin: 0 16px
}

.lx {
    height: 12px
}

.ly {
    cursor: pointer
}

.lz {
    padding: 4px 0
}

.mc {
    border-top: none
}

.md {
    height: 52px
}

.me {
    max-height: 52px
}

.mf {
    box-sizing: content-box
}

.mg {
    position: static
}

.mh {
    flex: 1 0 auto
}

.mj {
    max-width: 155px
}

.mo {
    margin-left: 24px
}

.mp {
    margin-top: 0px
}

.mq path {
    fill: rgba(117, 117, 117, 1)
}

.ms {
    margin: 0 20px
}

.mt {
    background-color: rgba(250, 250, 250, 1)
}

.mu {
    padding-bottom: 4px
}

.mv {
    padding-top: 32px
}

.mw {
    font-weight: 500
}

.no {
    overflow: hidden
}

.np {
    text-overflow: ellipsis
}

.nq {
    display: -webkit-box
}

.nr {
    -webkit-line-clamp: 1
}

.ns {
    -webkit-box-orient: vertical
}

.nt {
    word-break: break-all
}

.nv {
    margin-left: 8px
}

.nw {
    stroke: rgba(242, 242, 242, 1)
}

.nx {
    height: 36px
}

.ny {
    width: 36px
}

.nz {
    padding-top: 5px
}

.oa {
    padding-top: 25px
}

.ob {
    padding-bottom: 96px
}

.oc {
    padding-left: 16px
}

.od {
    padding-top: 40px
}

.oe {
    padding-right: 16px
}

.ou {
    background: rgba(25, 25, 25, 1)
}

.ov {
    border-color: rgba(25, 25, 25, 1)
}

.oy {
    padding-bottom: 80px
}

.oz {
    padding-bottom: 26px
}

.qj {
    flex-grow: 0
}

.qk {
    padding-bottom: 8px
}

.ql {
    margin-bottom: 24px
}

.qm {
    margin-right: 24px
}

.qn {
    flex: 1 0 0%
}

.qo {
    margin-bottom: 8px
}

.qp {
    margin-right: 8px
}

.qq {
    height: 20px
}

.qr {
    width: 20px
}

.qs {
    max-height: 20px
}

.qt {
    max-height: 60px
}

.qu {
    -webkit-line-clamp: 3
}

.qv {
    width: 56px
}

.qw {
    padding-bottom: 100%
}

.qx {
    height: 0
}

.qy {
    border-radius: 2px
}

.qz {
    padding: 30px 0
}

.ra {
    margin-bottom: 0
}

.rb {
    min-width: 100vw
}

.rc {
    background-color: rgba(0, 0, 0, 1)
}

.rh {
    max-width: 1192px
}

.rk:disabled {
    color: rgba(255, 255, 255, 0.6)
}

.rl:disabled {
    fill: rgba(255, 255, 255, 0.45)
}

.rm {
    height: 22px
}

.rn {
    margin-top: 20px
}

.ro {
    color: rgba(255, 255, 255, 0.95)
}

.rq {
    margin-right: 20px
}

.rr {
    background-color: rgba(255, 255, 255, 0.4)
}

.rs {
    margin: 28px 0 20px
}

.rt {
    padding: 40px 0
}

.ru {
    width: inherit
}

.rv {
    outline: none
}

.rw {
    padding: 8px 0 11px
}

.rx {
    background-color: transparent
}

.ry::placeholder {
    color: rgba(117, 117, 117, 1)
}

.rz {
    padding: 7px 7px 6px 8px
}

.sa {
    margin-top: 40px
}

.sb {
    height: 88px
}

.sc {
    width: 88px
}

.sd {
    margin-top: 16px
}

.se {
    margin-top: 4px
}

.sf {
    margin-top: 12px
}

.sg {
    margin-top: 24px
}

.sh {
    margin-bottom: 40px
}

.si {
    width: auto
}

.sj {
    margin-top: 32px
}

.sk {
    padding: 24px 0
}

.sl {
    margin-right: 6px
}

.sm {
    font-size: 11px
}

.sn {
    line-height: 16px
}

.bd:hover {
    cursor: pointer
}

.be:hover {
    color: rgba(25, 25, 25, 1)
}

.bf:hover {
    fill: rgba(25, 25, 25, 1)
}

.bv:hover {
    background: rgba(242, 242, 242, 1)
}

.bw:hover {
    border-color: rgba(242, 242, 242, 1)
}

.bx:hover {
    cursor: wait
}

.by:hover {
    color: rgba(242, 242, 242, 1)
}

.bz:hover {
    fill: rgba(242, 242, 242, 1)
}

.cr:hover {
    color: rgba(15, 115, 12, 1)
}

.cs:hover {
    fill: rgba(15, 115, 12, 1)
}

.dj:hover {
    color: rgba(41, 41, 41, 1)
}

.dk:hover {
    fill: rgba(41, 41, 41, 1)
}

.gy:hover {
    background: rgba(15, 115, 12, 1)
}

.gz:hover {
    border-color: rgba(15, 115, 12, 1)
}

.ho:hover path {
    fill: rgba(8, 8, 8, 1)
}

.li:hover {
    fill: rgba(117, 117, 117, 1)
}

.ma:hover {
    fill: rgba(8, 8, 8, 1)
}

.mb:hover p {
    color: rgba(8, 8, 8, 1)
}

.ow:hover {
    background: rgba(8, 8, 8, 1)
}

.ox:hover {
    border-color: rgba(41, 41, 41, 1)
}

.ri:hover {
    color: rgba(255, 255, 255, 1)
}

.rj:hover {
    fill: rgba(255, 255, 255, 0.9)
}

.rp:hover {
    text-decoration: underline
}

.is:focus {
    transform: scale(1.01)
}

.lh:focus {
    fill: rgba(117, 117, 117, 1)
}

.mr:focus path {
    fill: rgba(8, 8, 8, 1)
}

.ln:active {
    border-style: none
}

<style type="text/css" data-fela-rehydration="507" data-fela-type="RULE" media="all and (min-width: 1080px)">.d {
    display: none
}

.t {
    flex-direction: row
}

.z {
    width: 80px
}

.ab {
    min-height: 100vh
}

.ac {
    flex-shrink: 1
}

.ae {
    border-right: 1px solid rgba(230, 230, 230, 1)
}

.cv {
    display: block
}

.cw {
    text-align: center
}

.cx {
    padding: 40px 0
}

.en {
    margin-bottom: 0
}

.fa {
    margin-bottom: 40px
}

.fh {
    margin: 0 32px
}

.fi {
    max-width: 692px
}

.fo {
    padding: 0 16px
}

.ga {
    margin-bottom: 32px
}

.gb {
    margin-top: 56px
}

.hk {
    display: inline-flex
}

.in {
    margin-top: 32px
}

.js {
    font-size: 32px
}

.jt {
    margin-top: 0.6em
}

.ju {
    line-height: 40px
}

.jv {
    letter-spacing: -0.016em
}

.kp {
    font-size: 20px
}

.kq {
    margin-top: 2em
}

.kr {
    line-height: 32px
}

.ks {
    letter-spacing: -0.003em
}

.lu {
    margin-top: 0px
}

.mn {
    display: inline-block
}

.nl {
    line-height: 24px
}

.nm {
    max-height: 24px
}

.nn {
    letter-spacing: 0
}

.oj {
    margin: 0
}

.oo {
    white-space: normal
}

.ot {
    margin: 0 0 0 12px
}

.pm {
    width: calc(100% + 64px)
}

.pn {
    margin-left: -32px
}

.po {
    margin-right: -32px
}

.qf {
    padding-left: 32px
}

.qg {
    padding-right: 32px
}

.qh {
    flex-basis: 50%
}

.qi {
    max-width: 50%
}

.rg {
    margin: 0 64px
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    min-height: 100vh
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ol,
ul,
menu,
figure,
blockquote,
p,
pre,
form {
    margin: 0
}

menu,
ol,
ul {
    padding: 0;
    list-style: none;
    list-style-image: none
}

main {
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

a,
button,
input {
    -webkit-tap-highlight-color: transparent
}

img,
svg {
    vertical-align: middle
}

button {
    background: transparent;
    overflow: visible
}

button,
input,
optgroup,
select,
textarea {
    margin: 0
}

:root {
    --reach-tabs: 1;
    --reach-menu-button: 1
}

#speechify-root {
    font-family: Sohne, sans-serif
}

div[data-popper-reference-hidden="true"] {
    visibility: hidden;
    pointer-events: none
}